Repository albelop/mockme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint -c .eslintrc.cjs --no-eslintrc --fix"],
  "*.{js,json}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

ci: add linter and reorder jobs and steps
  .github/workflows/build_and_publish.yml
Due: none

style: eslint
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  package.json
  src/ConsoleFactory.js
  src/Matcher.js
  src/cli/createServiceWorkerAction.js
  src/loggers/test/Logger.test.js
  src/loggers/test/PrefixedLogger.test.js
  src/schemas.js
  src/serviceWorker.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write

chore: fix eslint execution
  package.json
Due: prettier --write

chore: adjust github actions
  .github/workflows/build_and_publish.yml
  .github/workflows/release.yml
  .github/workflows/verify-changes.yml
Due: none

refactor!: schema changes
  .changeset/olive-nails-arrive.md
  .markdownlintignore
  src/Matcher.js
  src/cli/createServiceWorkerAction.js
  src/schemas.js
  src/schemas/ConfigurationSchema.js
  src/schemas/MockSchema.js
  src/test/Matcher.test.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

fix: support PATCH HTTP verb
  .changeset/gorgeous-bags-remember.md
  .markdownlintignore
  src/schemas.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

chore: use conventional commit message format in changeset release commits
  .github/workflows/release.yml
Due: none

fix: match response should be done in the responseWith promise
  .changeset/wicked-feet-camp.md
  src/serviceWorker.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

feat: add a service worker manager to setup everything
  .changeset/rotten-shrimps-doubt.md
  README.md
  package.json
  src/ServiceWorkerManager.js
  src/URLTools.js
  src/test/ServiceWorkerManager.test.js
  src/test/URLTools.test.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

feat: support multiple scenarios and cookies
  .gitignore
  package-lock.json
  package.json
  src/Matcher.js
  src/cli/ConsoleFactory.js
  src/cli/LoggerFactory.js
  src/cli/createServiceWorkerAction.js
  src/cli/loggers/Logger.js
  src/cli/loggers/PrefixedLogger.js
  src/cli/loggers/test/Logger.test.js
  src/cli/loggers/test/PrefixedLogger.test.js
  src/cli/test/ConsoleFactory.test.js
  src/cli/test/LoggerFactory.test.js
  src/cli/test/outputs/.storybook/service-worker.plugins.js
  src/index.js
  src/manager/ServiceWorkerManager.js
  src/manager/URLTools.js
  src/manager/test/ServiceWorkerManager.test.js
  src/manager/test/URLTools.test.js
  src/schemas.js
  src/serviceWorker.js
  src/sw/Matcher.js
  src/sw/MessageBroker.js
  src/sw/index.js
  src/sw/parsers/RequestParser.js
  src/sw/parsers/test/RequestParser.test.js
  src/sw/serviceWorker.js
  src/sw/test/Matcher.test.js
  src/sw/test/MessageBroker.test.js
  src/sw/test/utils.test.js
  src/sw/utils.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write

chore: enable browser test
  .eslintrc.cjs
  .web-test-runner/config.js
  .web-test-runner/testRunnerHtml.js
  .web-test-runner/utils.js
  package-lock.json
  package.json
  src/cli/test/outputs/.storybook/service-worker.plugins.js
  src/manager/URLTools.js
  src/manager/test/ServiceWorkerManager.test.js
  src/manager/test/URLTools.test.js
  src/sw/parsers/RequestParser.js
  src/sw/parsers/test/RequestParser.test.js
  src/sw/test/Matcher.test.js
  src/sw/test/MessageBroker.test.js
  src/sw/test/utils.test.js
  src/sw/utils.js
  vite.config.ts
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write

test: adds integration test
  package.json
  src/manager/ServiceWorkerManager.js
  src/sw/it/basic.sw.js
  src/sw/it/basic.test.html
  src/sw/serviceWorker.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write

feat: add selectScenario method to ServiceWorkerManger
  .changeset/shaggy-bugs-study.md
  src/ServiceWorkerManager.js
  src/URLTools.js
  src/test/ServiceWorkerManager.test.js
  src/test/URLTools.test.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

docs: fix plugin name typo in README.md
  README.md
Due: prettier --write, markdownlint --fix

fix: config file import on windows filesystem
  .changeset/great-lemons-mix.md
  src/cli/createServiceWorkerAction.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

fix: same scenario in multiple mocks is only listed once in the scenarios output
  .changeset/three-zoos-flash.md
  src/cli/createServiceWorkerAction.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

fix: parse query params
  .changeset/metal-cats-sleep.md
  src/Matcher.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix

fix: use containedObjects to compare query params
  .changeset/pink-brooms-care.md
  src/Matcher.js
Due: eslint -c .eslintrc.cjs --no-eslintrc --fix, prettier --write, markdownlint --fix
